* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background-color: #dbeafe;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template: minmax(200px, 1fr) minmax(600px, 4fr) / minmax(280px, 1fr) minmax(600px, 4fr);
}

.brandinglogo {
    /*Credit: https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: invert(100%) sepia(8%) saturate(7488%) hue-rotate(235deg) brightness(120%) contrast(92%);
    width: 15%;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.branding {
    display: flex;
    gap: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.projectname {
    font-weight: 600;
    font-size: 20px;
}

.title {
    color: whitesmoke;
    font-size: max(2vw, 30px);
}

button {
    border-radius: 35px;
    height: min(70%, 65px);
    width: min(27%, 180px);;
}

ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: left;
}

a {
    display: flex;
    gap: 10px;
    justify-content: left;
}

li {
    font-size: max(15px, 1vw);
}

.icon {
    width: max(9%, 30px);
    /*Credit: https://codepen.io/sosuke/pen/Pjoqqp*/
    filter: invert(100%) sepia(8%) saturate(7488%) hue-rotate(235deg) brightness(120%) contrast(92%);
}

.sidebar > nav > ul > a {
    color:whitesmoke;
}


.sidebar {
    background-color: #38bdf8;
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-area: 1 / 1 / -1 / 2;
}

input {
    background-color: #dbeafe;
    border-radius: 15px;
    width: 90%;
    font-size: large;
}

.main-content {
    padding: 20px;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.projects {
    grid-area: 1 / 1 / -1 / 2;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}
.welcome {
    font-weight: bold;
}

.name {
    font-size: 23px;
    font-weight: bold;
}
.projectboxes {
    overflow: auto;
    display: grid;
    padding: 10px;
    height: 100%;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(300px,1fr);
}

.projectbox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
}

.projecticons {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.header {
    /*Credit: https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #eff6ff;
    padding: 20px 40px;
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template: 1fr 2fr / 3fr 2fr;
}

.buttonsbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchicon {
    width: max(3%, 20px);
}

.projectinfo {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 150%;
}

.profilepicturetop {
    border-radius: 500px;
    width: min(10%, 45px);
}

.profilepicture {
    border-radius: 500px;
    width: clamp(50px, 100px, 200px)
}

.greetingsbox > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.card {
    /*Credit: https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #eff6ff;
}

.accountname {
    font-weight: bold;
}

.greetingsbox > div > p {
    margin: 0;
}

.searchbox {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.profilebox {
    gap: 25px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.greetingsbox {
    gap: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}