* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background-color: #dbeafe;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template: minmax(200px, 1fr) minmax(600px, 4fr) / minmax(230px, 1fr) minmax(1000px, 4fr);
}

.brandinglogo {
    width: 15%;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.branding {
    display: flex;
    gap: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-size: max(2vw, 26px);
}

button {
    border-radius: 35px;
    height: min(70%, 65px);
    width: min(27%, 180px);;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: left;
}

a {
    display: flex;
    gap: 10px;
    justify-content: left;
}

li {
    font-size: max(13px, 1vw);
}

.icon {
    width: max(calc(1vw * 1.7), 30px);
}

.sidebar {
    background-color: #60a5fa;
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: 1 / 1 / -1 / 2;
}

input {
    border-radius: 15px;
    width: 90%;
}

.main-content {
    padding: 20px;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.projects {
    grid-area: 1 / 1 / -1 / 2;
    display: flex;
    flex-direction: column;
}

.projectboxes {
    padding: 20px;
    display: grid;
    height: 100%;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-row: auto;
}

.projectbox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
}

.projecticons {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.header {
    background-color: #eff6ff;
    padding: 20px;
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template: 1fr 2fr / 3fr 2fr;
}

.buttonsbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchicon {
    width: 3%;
}

.profilepicturetop {
    border-radius: 500px;
    width: min(10%, 45px);
}

.profilepicture {
    border-radius: 500px;
    width: min(13%, 100px);
}

.greetingsbox > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.card {
    background-color: #eff6ff;
}

.greetingsbox > div > p {
    margin: 0;
}

.searchbox {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.profilebox {
    gap: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.greetingsbox {
    gap: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}